In [1]:
#Script to get data from weather models

In [2]:
from herbie import Herbie
import xarray as xr
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Get dates to get weather model data for
unique_dates = pd.to_datetime(pd.read_csv('C:/users/benja/downloads/ORIE4741/mwobs_feature_data.csv')['date']).dt.date.unique()

In [4]:
#Format dates as strings
formatted_dates = []
for i in range(len(unique_dates)):
  formatted_dates.append(unique_dates[i].strftime("%Y-%m-%d") + " 10:00")

In [5]:
#Concatenate files containing model data
df = pd.read_csv('C:/users/benja/downloads/model_data_v230.csv', header = None)
for i in range(60, 3361, 30):
  print(i)
  df = pd.concat([df, pd.read_csv('C:/users/benja/downloads/model_data_v2' + str(i) + '.csv', header = None)], axis = 0, ignore_index=True)

60
90
120
150
180
210
240
270
300
330
360
390
420
450
480
510
540
570
600
630
660
690
720
750
780
810
840
870
900
930
960
990
1020
1050
1080
1110
1140
1170
1200
1230
1260
1290
1320
1350
1380
1410
1440
1470
1500
1530
1560
1590
1620
1650
1680
1710
1740
1770
1800
1830
1860
1890
1920
1950
1980
2010
2040
2070
2100
2130
2160
2190
2220
2250
2280
2310
2340
2370
2400
2430
2460
2490
2520
2550
2580
2610
2640
2670
2700
2730
2760
2790
2820
2850
2880
2910
2940
2970
3000
3030
3060
3090
3120
3150
3180
3210
3240
3270
3300
3330
3360

In [6]:
df

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,291.522552,300.096466,301.190979,300.402283,299.930939,299.024933,300.688019,284.326172,285.294403,286.151855,...,0.932916,-3.077185,-1.165127,2.073182,0.874319,1.553001,2.457935,2.931076,4.374798,2.260524
3,291.663788,299.940094,301.269897,298.975830,298.653412,299.517303,300.763000,284.462616,285.210663,285.337830,...,-1.567895,-0.937781,0.343721,3.254537,3.728859,4.956991,2.363815,3.869508,3.682258,2.268328
4,294.423981,297.943176,299.594452,300.222107,299.718506,299.992737,298.293182,283.610687,287.223663,287.509460,...,2.210675,3.361370,3.109918,7.387341,7.680748,8.708480,7.684691,7.352180,8.194241,6.204194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,267.845612,274.260742,276.014526,274.833130,275.115021,276.874054,274.936798,267.137146,272.284393,274.060913,...,-16.150867,-13.494049,-14.104844,14.378871,13.765994,15.506779,14.256108,16.303904,13.905620,15.158528
3336,271.312408,278.329285,280.494385,278.298676,278.561676,278.938965,278.040344,269.376648,273.140900,275.024384,...,-13.886139,-12.916126,-13.203626,12.550050,14.130978,14.636632,12.732262,15.191375,12.986875,13.435462
3337,275.026123,281.419281,283.681976,281.394592,282.179718,280.757416,281.261261,266.512634,275.376343,276.999725,...,-4.229030,-7.018866,-9.450369,12.855217,12.112861,9.158548,10.142784,7.219928,10.770011,13.189597
3338,278.148376,287.814697,289.511292,287.444305,287.883636,283.019745,284.358521,273.226379,269.480865,272.536438,...,-3.294801,-5.639119,-4.287604,7.909275,3.959428,4.204205,4.861427,5.703215,9.924317,8.975852
3339,274.154358,282.207855,285.374207,283.955963,287.266937,279.939178,278.753815,274.172058,279.524506,283.869263,...,9.295578,12.807762,12.045135,16.629198,15.301469,11.960973,16.271673,13.989932,16.157368,15.256470

In [7]:
#Add datetime column
df.insert(0, 'datetime', pd.to_datetime(pd.Series(formatted_dates)))

In [8]:
#Rename columns
df.columns = ['datetime', 'tsfc1', 'tsfc2', 'tsfc3', 'tsfc4', 'tsfc5', 'tsfc6', 'tsfc7', 'tdsfc1', 'tdsfc2', 'tdsfc3', 'tdsfc4', 'tdsfc5', 'tdsfc6', 'tdsfc7', 'usfc1', 'usfc2', 'usfc3', 'usfc4', 'usfc5', 'usfc6', 'usfc7', 'vsfc1', 'vsfc2', 'vsfc3', 'vsfc4', 'vsfc5', 'vsfc6', 'vsfc7', 'wssfc1', 'wssfc2', 'wssfc3', 'wssfc4', 'wssfc5', 'wssfc6', 'wssfc7', 'psfc1', 'psfc2', 'psfc3', 'psfc4', 'psfc5', 'psfc6', 'psfc7', 't8001', 't8002', 't8003', 't8004', 't8005', 't8006', 't8007', 'td8001', 'td8002', 'td8003', 'td8004', 'td8005', 'td8006', 'td8007', 'u8001', 'u8002', 'u8003', 'u8004', 'u8005', 'u8006', 'u8007', 'v8001', 'v8002', 'v8003', 'v8004', 'v8005', 'v8006', 'v8007', 'ws8001', 'ws8002', 'ws8003', 'ws8004', 'ws8005', 'ws8006', 'ws8007']

In [9]:
#Load in feature data
mwobs_features = pd.read_csv('C:/users/benja/downloads/ORIE4741/mwobs_feature_data.csv')
mwobs_features['date'] = pd.to_datetime(mwobs_features['date'])
mwobs_features.drop(columns = ['Unnamed: 0'], inplace=True)

In [10]:
mwobs_features

,date,M_5am,BL_5am,FG_5am,RA_5am,SN_5am,t_5am,dt_5am,rh_5am,ws_5am,...,FG_11pm,RA_11pm,SN_11pm,t_11pm,dt_11pm,rh_11pm,ws_11pm,vis_11pm,gust_11pm,wd_11pm
0,2014-08-01,True,False,False,False,False,44.6,42.8,93.35,23.0,...,True,False,False,44.6,44.6,100.00,27.0,0.00,27.0,W
1,2014-08-02,True,False,False,False,False,51.8,44.6,76.34,8.0,...,False,False,False,50.0,46.4,87.37,26.0,15.00,26.0,SW
2,2014-08-03,True,False,False,False,False,51.8,42.8,71.26,4.0,...,False,False,False,51.8,39.2,61.99,3.0,20.00,3.0,NE
3,2014-08-04,True,False,False,False,False,50.0,42.8,76.18,1.0,...,False,False,False,51.8,50.0,93.55,2.0,10.00,2.0,NW
4,2014-08-05,False,False,True,False,False,48.2,48.2,100.00,17.0,...,False,False,False,48.2,44.6,87.28,19.0,30.00,19.0,NW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,2024-04-06,False,False,True,False,True,12.2,12.2,100.00,27.0,...,True,False,True,14.0,14.0,100.00,27.0,0.06,30.0,N
3336,2024-04-07,False,False,True,False,False,14.0,14.0,100.00,27.0,...,True,False,True,12.2,12.2,100.00,34.0,0.06,34.0,N
3337,2024-04-08,True,False,False,False,False,23.0,10.4,57.96,33.0,...,False,False,False,23.0,-0.4,35.34,34.0,130.00,41.0,N
3338,2024-04-09,False,False,False,False,True,28.4,14.0,54.31,29.0,...,False,False,False,28.4,14.0,54.31,40.0,130.00,45.0,NW
3339,2024-04-10,True,False,False,False,False,30.2,23.0,74.26,29.0,...,False,False,False,33.8,17.6,51.04,23.0,100.00,23.0,W

In [11]:
# #Filter the model data to select only rows (dates) when feature data exists
# daterange = pd.date_range('2014-08-02', '2024-04-10')
# df_shared = pd.DataFrame(df.iloc[0]).transpose()
# for i in range(0, len(daterange)):
#   if mwobs_features[mwobs_features['date'].dt.date == daterange[i].date()].shape[0] > 0:
#     print(daterange[i])
#     df_shared = pd.concat([df_shared, df[df['datetime'].dt.date == daterange[i].date()]], axis = 0)

In [13]:
#Reset index of filtered model data
df_shared = df
df_shared.reset_index(inplace=True, drop=True)

In [14]:
#Convert datetime to date (time is unnecessary)
df_shared['datetime'] = df_shared['datetime'].dt.date

In [18]:
df_shared

,datetime,tsfc1,tsfc2,tsfc3,tsfc4,tsfc5,tsfc6,tsfc7,tdsfc1,tdsfc2,...,v8005,v8006,v8007,ws8001,ws8002,ws8003,ws8004,ws8005,ws8006,ws8007
0,2014-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-08-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-08-03,291.522552,300.096466,301.190979,300.402283,299.930939,299.024933,300.688019,284.326172,285.294403,...,0.932916,-3.077185,-1.165127,2.073182,0.874319,1.553001,2.457935,2.931076,4.374798,2.260524
3,2014-08-04,291.663788,299.940094,301.269897,298.975830,298.653412,299.517303,300.763000,284.462616,285.210663,...,-1.567895,-0.937781,0.343721,3.254537,3.728859,4.956991,2.363815,3.869508,3.682258,2.268328
4,2014-08-05,294.423981,297.943176,299.594452,300.222107,299.718506,299.992737,298.293182,283.610687,287.223663,...,2.210675,3.361370,3.109918,7.387341,7.680748,8.708480,7.684691,7.352180,8.194241,6.204194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,2024-04-06,269.074524,274.200745,275.113434,275.049988,274.521088,277.198364,274.902710,267.986633,272.756592,...,-11.932796,-8.623011,-11.088730,10.538225,10.915601,12.029033,10.912435,12.438717,10.199891,11.245342
3336,2024-04-07,267.845612,274.260742,276.014526,274.833130,275.115021,276.874054,274.936798,267.137146,272.284393,...,-16.150867,-13.494049,-14.104844,14.378871,13.765994,15.506779,14.256108,16.303904,13.905620,15.158528
3337,2024-04-08,271.312408,278.329285,280.494385,278.298676,278.561676,278.938965,278.040344,269.376648,273.140900,...,-13.886139,-12.916126,-13.203626,12.550050,14.130978,14.636632,12.732262,15.191375,12.986875,13.435462
3338,2024-04-09,275.026123,281.419281,283.681976,281.394592,282.179718,280.757416,281.261261,266.512634,275.376343,...,-4.229030,-7.018866,-9.450369,12.855217,12.112861,9.158548,10.142784,7.219928,10.770011,13.189597
3339,2024-04-10,278.148376,287.814697,289.511292,287.444305,287.883636,283.019745,284.358521,273.226379,269.480865,...,-3.294801,-5.639119,-4.287604,7.909275,3.959428,4.204205,4.861427,5.703215,9.924317,8.975852

In [16]:
#Concatenate model features with station features
all_features = pd.concat([df_shared, mwobs_features], axis = 1)
all_features.drop(columns = ['date'], inplace=True)

In [18]:
#Peform one-hot encoding
all_features = pd.concat([all_features.iloc[:, 0], pd.get_dummies(all_features.iloc[:, 1:])], axis = 1)

In [19]:
all_features.columns.values

array(['datetime', 'tsfc1', 'tsfc2', 'tsfc3', 'tsfc4', 'tsfc5', 'tsfc6',
       'tsfc7', 'tdsfc1', 'tdsfc2', 'tdsfc3', 'tdsfc4', 'tdsfc5',
       'tdsfc6', 'tdsfc7', 'usfc1', 'usfc2', 'usfc3', 'usfc4', 'usfc5',
       'usfc6', 'usfc7', 'vsfc1', 'vsfc2', 'vsfc3', 'vsfc4', 'vsfc5',
       'vsfc6', 'vsfc7', 'wssfc1', 'wssfc2', 'wssfc3', 'wssfc4', 'wssfc5',
       'wssfc6', 'wssfc7', 'psfc1', 'psfc2', 'psfc3', 'psfc4', 'psfc5',
       'psfc6', 'psfc7', 't8001', 't8002', 't8003', 't8004', 't8005',
       't8006', 't8007', 'td8001', 'td8002', 'td8003', 'td8004', 'td8005',
       'td8006', 'td8007', 'u8001', 'u8002', 'u8003', 'u8004', 'u8005',
       'u8006', 'u8007', 'v8001', 'v8002', 'v8003', 'v8004', 'v8005',
       'v8006', 'v8007', 'ws8001', 'ws8002', 'ws8003', 'ws8004', 'ws8005',
       'ws8006', 'ws8007', 'M_5am', 'BL_5am', 'FG_5am', 'RA_5am',
       'SN_5am', 't_5am', 'dt_5am', 'rh_5am', 'ws_5am', 'vis_5am',
       'gust_5am', 'M_11pm', 'BL_11pm', 'FG_11pm', 'RA_11pm', 'SN_11pm',
       't_11pm', 'dt_11pm', 'rh_11pm', 'ws_11pm', 'vis_11pm', 'gust_11pm',
       'wd_5am_E', 'wd_5am_N', 'wd_5am_NE', 'wd_5am_NW', 'wd_5am_S',
       'wd_5am_SE', 'wd_5am_SW', 'wd_5am_W', 'wd_11pm_E', 'wd_11pm_N',
       'wd_11pm_NE', 'wd_11pm_NW', 'wd_11pm_S', 'wd_11pm_SE',
       'wd_11pm_SW', 'wd_11pm_W'], dtype=object)

In [20]:
#Add label to date column
newcols = ['date']
newcols.extend([i for i in all_features.columns[1:]])
all_features.columns = newcols

In [22]:
#Convert date to year month day features
all_features.insert(0, 'year', pd.to_datetime(all_features['date']).dt.year)
all_features.insert(0, 'month', pd.to_datetime(all_features['date']).dt.month)
all_features.insert(0, 'day', pd.to_datetime(all_features['date']).dt.day)
all_features.drop(columns = ['date'], inplace=True)

In [23]:
#Convert booleans to floats (0 or 1)
all_features = all_features.astype(float)

In [24]:
all_features.columns.values

array(['day', 'month', 'year', 'tsfc1', 'tsfc2', 'tsfc3', 'tsfc4',
       'tsfc5', 'tsfc6', 'tsfc7', 'tdsfc1', 'tdsfc2', 'tdsfc3', 'tdsfc4',
       'tdsfc5', 'tdsfc6', 'tdsfc7', 'usfc1', 'usfc2', 'usfc3', 'usfc4',
       'usfc5', 'usfc6', 'usfc7', 'vsfc1', 'vsfc2', 'vsfc3', 'vsfc4',
       'vsfc5', 'vsfc6', 'vsfc7', 'wssfc1', 'wssfc2', 'wssfc3', 'wssfc4',
       'wssfc5', 'wssfc6', 'wssfc7', 'psfc1', 'psfc2', 'psfc3', 'psfc4',
       'psfc5', 'psfc6', 'psfc7', 't8001', 't8002', 't8003', 't8004',
       't8005', 't8006', 't8007', 'td8001', 'td8002', 'td8003', 'td8004',
       'td8005', 'td8006', 'td8007', 'u8001', 'u8002', 'u8003', 'u8004',
       'u8005', 'u8006', 'u8007', 'v8001', 'v8002', 'v8003', 'v8004',
       'v8005', 'v8006', 'v8007', 'ws8001', 'ws8002', 'ws8003', 'ws8004',
       'ws8005', 'ws8006', 'ws8007', 'M_5am', 'BL_5am', 'FG_5am',
       'RA_5am', 'SN_5am', 't_5am', 'dt_5am', 'rh_5am', 'ws_5am',
       'vis_5am', 'gust_5am', 'M_11pm', 'BL_11pm', 'FG_11pm', 'RA_11pm',
       'SN_11pm', 't_11pm', 'dt_11pm', 'rh_11pm', 'ws_11pm', 'vis_11pm',
       'gust_11pm', 'wd_5am_E', 'wd_5am_N', 'wd_5am_NE', 'wd_5am_NW',
       'wd_5am_S', 'wd_5am_SE', 'wd_5am_SW', 'wd_5am_W', 'wd_11pm_E',
       'wd_11pm_N', 'wd_11pm_NE', 'wd_11pm_NW', 'wd_11pm_S', 'wd_11pm_SE',
       'wd_11pm_SW', 'wd_11pm_W'], dtype=object)

In [25]:
#Find 11pm-5am change in all features, replace 11pm data with 6-hour 11pm-5am change
featurevars = ['M', 'BL', 'FG', 'RA', 'SN', 't', 'dt', 'rh', 'ws', 'vis', 'gust']
for i in range(len(featurevars)):
  featurename = featurevars[i] + '_11pm'
  all_features[featurename] = all_features[featurevars[i] + '_5am'] - all_features[featurename]

dummies_5am = ['wd_5am_E', 'wd_5am_SE', 'wd_5am_S', 'wd_5am_SW', 'wd_5am_W', 'wd_5am_NW', 'wd_5am_N', 'wd_5am_NE']
dummies_11pm = ['wd_11pm_E', 'wd_11pm_SE', 'wd_11pm_S', 'wd_11pm_SW', 'wd_11pm_W', 'wd_11pm_NW', 'wd_11pm_N', 'wd_11pm_NE']
for j in range(len(dummies_5am)):
  featurename = dummies_11pm[j]
  all_features[featurename] = all_features[dummies_5am[j]] - all_features[featurename]

In [26]:
#Rename columns to adjust for above change
new_cols = []
for col in all_features.columns:
  if '11pm' in col:
    new_cols.append(col.replace('11pm', '6hrchange'))
  else:
    new_cols.append(col)

all_features.columns = new_cols

In [29]:
#Add features containing spatial differences between adjacent model regions
#Count diagonal borders as adjacent
all_features.columns.values
first = ['3', '3', '3', '2', '2', '2', '2', '7', '7']
second = ['2', '5', '4', '4', '5', '6', '7', '4', '6']
fields = ['tsfc', 'tdsfc', 'usfc', 'vsfc', 'wssfc', 'psfc', 't800', 'td800', 'u800', 'v800', 'ws800']
for field in fields:
  for numidx in range(len(first)):
    all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])

C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])
C:\Users\benja\AppData\Local\Temp\ipykernel_14260\3161474453.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_features.insert(0, field + first[numidx] + second[numidx], all_features[field + first[numidx]] - all_features[field + second[numidx]])

In [30]:
all_features

,ws80076,ws80074,ws80027,ws80026,ws80025,ws80024,ws80034,ws80035,ws80032,v80076,...,wd_5am_SW,wd_5am_W,wd_6hrchange_E,wd_6hrchange_N,wd_6hrchange_NE,wd_6hrchange_NW,wd_6hrchange_S,wd_6hrchange_SE,wd_6hrchange_SW,wd_6hrchange_W
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-2.114274,-0.197411,-1.386205,-3.500478,-2.056756,-1.583615,-0.904934,-1.378075,0.678682,1.912058,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.413929,-0.095486,1.460531,0.046602,-0.140648,1.365045,2.593176,1.087483,1.228131,1.281503,...,0.0,1.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,1.0
4,-1.990047,-1.480498,1.476555,-0.513492,0.328568,-0.003943,1.023788,1.356299,1.027731,-0.251452,...,0.0,1.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,1.252909,0.902420,-1.392534,-0.139626,-2.537910,-0.490114,1.250670,-0.797125,1.740785,-0.610795,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3336,0.448587,0.703200,0.695516,1.144103,-1.060397,1.398716,1.904370,-0.554743,0.505654,-0.287499,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3337,2.419586,3.046813,-1.076736,1.342850,4.892933,1.970077,-0.984236,1.938621,-2.954312,-2.431503,...,0.0,0.0,0.0,-1.0,0.0,1.0,0.0,0.0,0.0,0.0
3338,-0.948465,4.114425,-5.016424,-5.964889,-1.743786,-0.901999,-0.657222,-1.499010,0.244777,1.351515,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3339,-0.900898,-1.015203,0.044999,-0.855899,1.311537,-0.970204,-4.310700,-2.028959,-3.340496,-0.762627,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.0

In [31]:
#Save as CSV
all_features.to_csv('C:/users/benja/downloads/ORIE4741/all_feature_data.csv')